.table-header {
	border-top: 1px solid #dee2e6;
	border-bottom: 1px solid #dee2e6;
	padding: .75rem;
	font-weight: bold;
	text-align: center;
	margin: 0 !important;
}

.table-row {
	border-top: 1px solid #dee2e6;
	padding: .75rem;
	text-align: center;
	margin: 0 !important;
}

.table-row input {
	border: 0;
	width: 100%;
}
